* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14213d;
}

.text span {
    font-size: 20px;
    padding: 0 10px;
    text-transform: uppercase;
    color: #fff;
    animation: zoomup 3s linear infinite;

    animation-delay: calc(100ms * (var(--i)));
}

@keyframes zoomup {

    0%,
    100% {
        color: #00c2ba;
        filter: blur(1px);
        text-shadow: 0 0 10px #00c2ba, 0 0 20px #00c2ba, 0 0 30px #00c2ba,
            0 0 40px #00c2ba, 0 0 60px #00c2ba, 0 0 80px #00c2ba, 0 0 100px #00c2ba,
            0 0 120px #00c2ba;
    }

    5%,
    95% {
        filter: blur(0);
        color: #fff;
        text-shadow: none;
    }
}

.inicio {
    border-radius: 10px;
    padding: 10px;
    background-color: #264fa7;
    color: white;
    transition: 1s;
}

.inicio:hover {
    color: black;
    background-color: #c2e0fb;
    filter: drop-shadow(0 0 50px rgb(50, 50, 255));
}

.titulo {
    background-image: url(img/shrekbanner.jpg);
    background-size: contain;
    height: 120px;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 0px;
    font-size: 100px;
}

.sinopsis {
    background-color: #1f5c20;
    color: #5ace5a;
    padding: 20px;
    padding-bottom: 50px;
    border-bottom: #5ace5a;
    border-bottom-width: 10px;
    border-bottom-style: double;
}
.otros {
    margin-top: 50px;
    background-color: #1f5c20;
    color: #5ace5a;
    padding: 20px;
    padding-bottom: 50px;
    border-top: #5ace5a;
    border-top-width: 10px;
    border-top-style: double;
}