
/DAW2/Servidor/Spring/.metadata
DAW2/Servidor/Spring/.metadata/version.ini
DAW2/Servidor/Spring/.metadata/.plugins/org.eclipse.m2e.logback/0.log
DAW2/Servidor/Spring/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
DAW2/Servidor/Spring/.metadata/.plugins/org.eclipse.buildship.core/gradle/versions.json
DAW2/Servidor/Spring/.metadata/.log
DAW2/Cliente/Angular/javierse_angcoop25/.angular/cache/*
/DAW2/Cliente/Angular/javierse_angcoop25/node_modules
