<div class="d-flex justify-content-around position-absolute top-50 start-50 translate-middle">
    <div class="btn btn-primary d-flex flex-column align-items-center justify-content-center border rounded p-4 w-25" (click)="goto('usuarios')">
        <i class="bi bi-person-fill-gear" style="font-size: calc(20px + 5vw);"></i>
        <p class="fs-2">Gestionar usuarios</p>
    </div>
    <div class="btn btn-primary d-flex flex-column align-items-center justify-content-center border rounded p-4 w-25" (click)="goto('articulos')">
        <i class="bi bi-database-fill-gear" style="font-size: calc(20px + 5vw);"></i>
        <p class="fs-2">Gestionar articulos</p>
    </div>
    <div class="btn btn-primary d-flex flex-column align-items-center justify-content-center border rounded p-4 w-25" (click)="goto('newcategoria')">
        <i class="bi bi-tags-fill" style="font-size: calc(20px + 5vw);"></i>
        <p class="fs-2">Crear categoria</p>
    </div>
    <div class="btn btn-primary d-flex flex-column align-items-center justify-content-center border rounded p-4 w-25" (click)="goto('ventas')">
        <i class="bi bi-cash-stack" style="font-size: calc(20px + 5vw);"></i>
        <p class="fs-2">Ver ventas</p>
    </div>
</div>