<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${add} ? 'Nueva cuenta' : 'Actualizar cuenta'"></title>
	<link th:if="${add}==false" rel="stylesheet" th:href="@{../../cssdefault.css}">
	<link th:if="${add}" rel="stylesheet" th:href="@{../cssdefault.css}">
</head>

<body>
	<br>
	<br>
	<form th:action="@{/clientes/{idCliente}/cuentas/save (idCliente=${cliente.id})}" th:object="${cuenta}" method="POST">
		<fieldset>
			<legend th:text="${add} ? 'Nueva cuenta' : 'Actualizar cuenta'"></legend>
		<table border="0">
			<tr th:if="!${add}">
				<td>id</td>
				<td> <input type="text" th:field="*{id}" readonly /> </td>
			</tr>
			<tr>
				<td>Nombre</td>
				<td> <input type="text" th:field="*{nombre}" required/> </td>
			</tr>
			<tr>
				<td>Saldo</td>
				<td> <input type="number" th:field="*{saldo}" required/> </td>
			</tr>
		</table>
		<input type="submit" th:value="${add} ? 'Crear' : 'Actualizar'" />
		</fieldset>
	</form>
	<br>
	<a th:href="@{/clientes/{idCliente}/cuentas (idCliente=${cliente.id})}">Volver</a>
</body>

</html>