<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<header>
		<h1 th:text="'Bienvenido, '+ ${usuario.nombre}"></h1>
		<a th:href="@{/auth/logout}">Cerrar sesión</a>
	</header>
	<div th:if="${listaEspecialidadesDTO.isEmpty()}">
		<h1>Listado vacio</h1>
		<a th:href="@{/principal}">Volver</a>
	</div>
	<div th:if="${!listaEspecialidadesDTO.isEmpty()}">

		<div>
			<h1>Mantenimiento de especialidades</h1>
		</div>
		<div>
			<table border="1">
				<thead>
					<tr>
						<td>ID</td>
						<td>NOMBRE PACIENTE</td>
						<td>VER MEDICOS</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="e : ${listaEspecialidadesDTO}">
						<td>
							<a th:href="@{/medicos/especialidades/{idEsp}(idEsp=${e.id})}" th:text="${e.id}"></a>
						</td>
						<td th:text="${e.nombre}"></td>
						<td>
							<a th:href="@{/medicos/especialidades/{idEsp}(idEsp=${e.id})}">Ver medicos</a>
						</td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/principal}">Volver</a>
		</div>
	</div>
</body>

</html>