//Tipografia
$fuente-principal:'Alef';
$tamaño-fuente-principal:12px;
$fuente-titulos:'Verdana';
$tamaño-fuente-h1:24px;
$tamaño-fuente-h2:20px;
$tamaño-fuente-h3:18px;

$tamaño-fuente-titulo-logo:40px;
$color-fuente-titulo-logo:blue;