@import "res_.scss";
@import "anim_.scss";
@import "important.scss";

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: $font-color;
    text-align: center;
}
h1:not(:first-of-type){
    margin-top: 10vh;
}
.jugadorcont{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img {
        width: 10vw;
    }
}
.wp{
    filter: blur(7px);
    position: absolute;
    top: 10vw;
    height: 140vh;
    width: 100vw;
    z-index: -1;
}