select{
    height: 50px;
    transition: 0.5s;
    margin-bottom: 70px;
}
.n{
    text-align: right;
}
.s{
    text-align: center;
}
.final{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.tit{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    align-items: center;
    width: 100%;
}
table *{
    padding: 10px;
}
table,th,td{
    border: #000, 2px, solid;
    border-collapse: collapse;
    transition: 0.5s;
}
th{
    background-color: antiquewhite;
}
td:hover{
    cursor: default;
    background-color: bisque;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}