<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">

    <head>
        <title>Formulario 1</title>
		<link rel="stylesheet" href="styles/css.css">
    </head>
    <body>
        <h1>VIDEOCLUB ON-LINE</h1>
        <form th:action="@{/disfrutaDeLaPelicula}" th:object="${alquiler}" method="POST">
            <label for="nombre">Nombre Película</label>
            <input type="text" name="nombre" id="nombre" th:field="*{nombre}" required="true" style="margin-left: 36px;">
            <br>
            <label for="dias">Número Días Alquiler</label>
            <input type="number" id="dias" name="dias" required="true" th:field="*{dias}">
            <br>
            <label for="" class="esp">Edad Cliente</label>
            <label for="pago" class="esp">Forma de Pago</label>
            <br>
            <div class="esp">
                <div style="display: flex; flex-direction: row;">
                    <div>
                        <input type="radio" name="edad" required="true" value='<7' th:field="*{edad}">
                        Menor de 7 años
                        <br>
                        <input type="radio" name="edad" required="true" value='<14' th:field="*{edad}">
                        Menor de 14 años
                        <br>
                        <input type="radio" name="edad" required="true" value='<18' th:field="*{edad}">
                        Menor de 18 años
                        <br>
                        <input type="radio" name="edad" required="true" value='+18' th:field="*{edad}">
                        Mayor de 18 años
                    </div>
                    <div>
                        <select name="pago" id="edad" required="true" th:field="*{pago}" style="margin-top: 32px; margin-left: 117px;">
                            <option value="VISA">VISA</option>
                            <option value="Cheque">Cheque</option>
                            <option value="Contado">Contado</option>
                            <option value="Metalico">Metalico</option>
                        </select>
                    </div>

                </div>
                <br>
                <label for="extra" id="extra">Especificaciones extras</label>
                <br>
                <textarea name="extra"></textarea>
                <br>
                <input type="submit" name="env" value="Enviar Pedido">
                <input type="reset" name="borr" value="Borrar Formulario">
            </div>


        </form>
    </body>

</html>