<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Mostrar direccion</title>
	<link rel="stylesheet" th:href="@{http://localhost:8888/tarea4/cssviews.css}">
</head>

<body>
    <div>
        <h1>Mostrar direccion</h1>
    </div>
    <div>

        <table>
            <tr>
                <td>ID</td>
                <td th:text="${direccionDTO.id}"></td>
            </tr>
            <tr>
                <td>BANCO</td>
                <td th:text="${direccionDTO.descripcion}"></td>
            </tr>
            <tr>
                <td>SUCURSAL</td>
                <td th:text="${direccionDTO.pais}"></td>
            </tr>
            <tr>
                <td>DC</td>
                <td th:text="${direccionDTO.cp}"></td>
            </tr>
        </table>
        <a th:href="@{/clientes/{idCliente}/direcciones (idCliente=${idCliente})}">Volver a la
            lista
            de
            direcciones</a>
    </div>
</body>

</html>
W