<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title
      th:text="${add} ? 'Nueva empresa' : 'Actualizar empresa'"
    ></title>
	<link rel="stylesheet" th:href="@{http://localhost:8888/tarea5/cssforms.css}">
  </head>

  <body>
    <div>
      <h1 th:text="${add} ? 'Nueva empresa' : 'Actualizar empresa'"></h1>
    </div>
    <div>
      <form
        th:action="@{/clientes/{idCliente}/empresas/save (idCliente=${idCliente})}"
        th:object="${empresaDTO}"
        method="post"
      >
        <div th:if="${empresaDTO.id}">
          <label for="id">ID</label>
          <input
            type="text"
            id="id"
            th:field="*{id}"
            readonly
          />
        </div>
        <div>
          <label for="nombre">Nombre</label>
          <input
            type="text"
            id="nombre"
            th:field="*{nombre}"
          />
        </div>
        <div>
          <label for="descripcion">Descripcion</label>
          <input
            type="text"
            id="descripcion"
            th:field="*{descripcion}"
          />
        </div>
        <div>
          <label for="cp">Puesto</label>
          <input type="text" id="cp" th:field="*{p_aux}" />
        </div>
		<div>
		   <label for="cp">Años en la empresa</label>
		   <input type="number" step="1" id="cp" th:field="*{a_aux}" />
		</div>
        <input
          type="submit"
          th:value="${add} ? 'Nueva' : 'Actualizar'"
        />
      </form>
      <a
        th:href="@{/clientes/{idCliente}/empresas (idCliente=${idCliente})}"
        >Volver a la lista de direcciones</a
      >
    </div>
  </body>
</html>
